.main-home-banner {
    display: flex;
    flex-direction: column;
    width: 900px;
    max-width: 1920px;
}

.main-home-banner h1 {
    text-align: right;
}
.main-home-banner h3 {
    text-align: right;
}

.main-home-banner.right {
    position: absolute;
    top: 390px;
    right: 60px;
}